{% extends 'myApp/base1.html' %}

{% block h3 %}
    详情页
{% endblock %}

{% block mainleft %}
         <ul>
             <li><a href="#">热销新品</a></li>
             <li><a href="#">优选水果</a></li>
             <li><a href="#">卤味熟食</a></li>
             <li><a href="#">牛奶面包</a></li>
             <li><a href="#">冰镇饮料</a></li>
             <li><a href="#">冰激凌</a></li>
             <li><a href="#">饮料酒水</a></li>
             <li><a href="#">休闲零食</a></li>
             <li><a href="#">方便速食</a></li>
             <li><a href="#">粮油调味</a></li>
        </ul>
{% endblock %}

{% block mainright %}

{% endblock %}






