#car{
   margin-top:20%;
}
#tubiao{
    height:100px;
    text-align:center;
}
#kongkong, #quguang{
     color:#999999;
     text-align:center;
     margin-top:5%;
}
#quguang a{
      display:block;
      width:80px;
      line-height:1rem;
      padding: 0.4rem 1.5rem;
      border:1px solid #e0e0e0;
      margin:0 auto;
}